html {
  height: 100%;
}

body {
  line-height: 1.4rem !important;
  font-family: 'Open Sans', sans-serif !important;
}

.navbar{
  background: #1e1e2c;
  position: absolute;
  margin-bottom: 20px;
  box-shadow: 0px .5px 5px #000;
}

.navbar span{
  color: #fff;
  font-size: 25px;
}

.navbar-nav a{
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 270px;
  position: absolute;
  z-index: 2;
  top: 66.4px;
  left: 0;
  background: #152238;
  overflow-x: hidden;
  transition: all 400ms;
  
}

.sidenav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
  display: block;
  font-family: 'Calibri', sans-serif;
  transition: all 250ms;
}

.sidenav a:hover {
  color: #dadada;
}

.element-container {
  width: 100%;
  height: 66px;
  position: relative;
  
  
}

.not-active:hover{
  background: #35517d42;
  transition: all 500ms;
}

.element img{
  position: absolute;
  margin-top: 4.5%;
}

.element p{
  position: absolute;
  margin-top: 8%;
  margin-left: 75px;
}

.active {
  position: relative;
  background: #35517d;
  transition: all 500ms;
  box-shadow: 0px 2.5px 5px #000;
}

.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}

.active::after {
  content: "";
  top: 0;
  right: 0;
  width: 4.5%;
  position: absolute;
  background: #45b6fe;
  height: 100%;
}

.main {
  margin-left: 280px;
  padding: 0px 10px;
  margin-top: 5rem;
}

.main .text-muted{
  margin-left: 135px;
  font-style: italic;
}

.text-records{
  font-style: italic;
  transform-origin: 0 0;
  transform: rotate(270deg); 
}

.head{
  background: #152238;
  color: #fff;
}

.button-color{
  background: #152238;
  color: #fff;
}

.input-group input{
  font-style: italic;
}

.input-group span{
  background: #152238;
}

.actionss p{
  margin-bottom: 0;
}