<template>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">

        <a class="navbar-brand mr-3 ml-3"><img src="@/assets/images/online-library.png" width="45" height="45" class=""></a>
        <span class=" mr-auto">Library System</span>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="collapse_target">
        
         <ul class="navbar-nav ml-auto">
             <div class="d-flex align-items-center">
              <img src="@/assets/images/logout.png" height="38" class="mt-1 mr-2" style="transform: rotate(90deg);">
              <a class=" mr-5" href="#logout">Logout</a>
             </div>
         </ul>
        </div> 
      </nav>
</template>