<template>
    <div class="sidenav" id="app">
        <router-link to="/" :class="getRoute == '/' ? 'active': ''" >  
       
          <div class="element-container ">
            <div class="element">
              <img src="@/assets/images/home.png" height="40" class="ml-3 position-absolute">
              <p class=" ml-6 option" href="">Dashboard</p>
            </div>
          </div>
        
        </router-link>
        <router-link to="/patron" :class="getRoute == '/patron' ? 'active' : ''">
        <a href="patron.html" class="">
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/teamwork.png" height="40" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Patron Management</p>
            </div>
          </div>
        </a>
        </router-link>
        <router-link to="/books" :class="getRoute == '/books' ? 'active' : ''">
        <a href="books.html" class="" >
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/books.png" height="40" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Books Management</p>
            </div>
          </div>
        </a>
        </router-link>
        <a href="#settings" class="">
          <div class="element-container not-active">
            <div class="element">
              <img src="@/assets/images/settings.png" height="40" class="ml-3  position-absolute">
              <p class="ml-6 option" href="">Settings</p>
            </div>
          </div>
        </a>

      <router-link to="/borrowed/book" :class="getRoute == '/borrowed/book' ? 'active' : ''">
        <a  class="" >
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/books.png" height="40" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Borrowed Books</p>
            </div>
          </div>
        </a>
        </router-link>
        
      </div>
</template>

<script>
export default {

  data() {
    return {
      data: "",
    };
  },
  mounted() {
    
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>