<template>
    <div id="app">
    <SideBar />
    <NavBar />
      <div class="main">
        <router-view />
    </div>
  </div>
</template>

<style>

</style>

<script>
import SideBar from "@/components/navigations/SideBar";
import NavBar from "@/components/navigations/NavBar";
export default {
  components: { SideBar, NavBar },
};

</script>