<template>
    <div id="app">
    <div class="">
        <div class="container pt-4">
          <h1 class="">DashBoard</h1>
          <div class="row mt-5">
            <div class="col-10 col-sm-10 col-lg-6 pb-3">  
              <div class="card" style="width: 32rem;">
                <div class="card-body">
                  
                  <h5 class="card-title">Borrowed and Returned Books</h5>
                  <div class="d-flex align-items box">
                    <canvas id="barChart" ref="barChart" ></canvas>     
                       
                  </div>
                  <p class="text-muted mt-1">Monthly</p>
                </div>
              </div>
            </div>
            <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
              <div class="card" style="width: 32rem; height: 22.2rem;">
                <div class="card-body">
                  <h5 class="card-title">Popular Books Genre</h5>
                  <canvas class="" id="pieChart" width="280"></canvas>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Chart from 'chart.js';
export default {
    data(){
        return {
    }
    },
    methods: {

    },
    mounted() {
        document.title = "Dashboard"
        this.$nextTick(() =>{
            var ctx = this.$refs.barChart.getContext("2d");
            new Chart(ctx, {
                 type: 'bar',
                 data: {
    
                labels: ['JAN', 'FEB', 'MARCH', 'APRIL', 'MAY'],
                 datasets: [
                {
                 label: 'Borrowed Books',
                 data: [300, 200, 100, 115, 65],
                  backgroundColor: 'rgb(0,0,128)',
      
                },
                {
                 label: 'Returned Books',
                 data: [210, 250, 180, 90, 180],
                 backgroundColor: 'rgb(255,0,0)',
                 }
                 ],
                 },
                 options: {
                 responsive: true,
                 legend: {
                 position: 'right',
                 align: 'start',
                 },
                  scales: {
                yAxes: [{
                 ticks: {
                beginAtZero: true
                },
        
                }],
               xAxes: [{
                gridLines: {
                   display: false
                 }
             }]
              }
             }
            });

        var pie = document.getElementById('pieChart').getContext('2d');
        new Chart(pie, {
  type: 'doughnut',
  data: {
    datasets: [{
        data: [23.1, 38.5, 7.7, 15.4,15.4],
        backgroundColor: [
          'rgba(27, 64, 230, .8)',
          'rgb(255,0,0)',
          'rgba(255,69,0)',
          'rgba(34,139,34)',
          'rgb(153,50,204)',
        ],
    }],

    labels: [
        'History',
        'Sci-Fi',
        'Information Technology',
        'Algebra',
        'English Literature',
    ]
  },
  options: {
    legend: {
      position: 'right',
      align: 'start',
    }
  }
});

        });
    },
};
</script>
<style>
@import "../../../assets/css/style.css";
</style>