
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

.navbar-expand-md {
    box-shadow: 0 20px 10px #fff;
}


.container-home {
    position: relative;
    height: 80vh;
    background-image:  linear-gradient(to right, #495e78d7, #1a2930d7), url(../img/home_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    position: absolute;
    top: 50%;
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 15px;
    margin-bottom: 20px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 20.8px;
    margin-bottom: 60px;
    
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    padding: 10px 45px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-color {
    background-color: rgb(253, 198, 78);
    color: #fff;
    font-weight: 700;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-color::after {
    background-color: rgb(253, 198, 78);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInUp .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.container-services {
    position: relative;
    background-image:  linear-gradient(to right, #495e7894, #1a293093), url(../img/services_bg.jpg);
    background-position: top;
    background-size: cover; 
}


.heading-services {
    position: absolute;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
}

.img-margin {
    margin-top: 60px;
    margin-bottom: 20px;
    
}

.text-logo {
    position: absolute;
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-projects {
    position: relative;
    background-image:  linear-gradient(to right, #495e78d7, #1a2930d7), url(../img/recent_prog.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-portfolio-top {
    margin-top: 100px;
}
.card-box-bottom {
    margin-bottom: 100px;
}

.card-image{
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.card-text-center {
    position: absolute;
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map-container-4{
    
    overflow:hidden;
    padding-bottom: 30px;
    position:relative;
    height:0;
    }
    .map-container-4 iframe{
    left:0;
    top:0;
    height:70vh;
    width:100%;
    position:absolute;
    }

.container-contact {
    position: absolute;
    
}
.row-contact {
    margin-bottom: 80px;
    margin-top: 100px;
}

.text-contact {
    position: absolute;
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-adjust {
    margin-bottom: 30px;
}

.text-contact-main {
    position: absolute;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
    left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
}

.container-footer {
    position: relative;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }

  @media (max-width:629px) {
    img#image-hide {
      display: none;
    }
  }