<template>
    <div id=app>
        <div class="container pt-4">
        <h1 class="">Patron Management</h1>
        <div class="row mt-5">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row mb-2">
              <div class="col justify-content-start ml-1">
                <button
                  data-toggle="modal"
                  data-target="#addModal"
                  class="btn rounded-pill btn-dark btn-sm"
                >
                  <img
                    src="@/assets/images/worker.png"
                    class="mr-2"
                    width="25px"
                    height="25px"
                  />Add Patron
                </button>
              </div>
              <div class="col input-group justify-content-end mr-1">
                <input type="text" class="" placeholder="Search Patron" />
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><img
                      src="@/assets/images/magnifying-glass.png"
                      width="25px"
                      height="25px"
                      style="transform: scaleX(-1)"
                  /></span>
                </div>
              </div>
            </div>
            <div class="card mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="head">
                    <tr>
                      <th scope="col">Borrower</th>
                      <th scope="col">Book</th>
                      <th scope="col">Copies</th>
                      <th scope="col">Borrowed Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  v-for="(borrowed, i) in borrowedbook" :key="i" >
                      <td>{{borrowed.patron.first_name}}</td>
                      <td>{{borrowed.book.name}}</td>
                      <td>{{borrowed.book.copies}}</td>
                      <td>{{borrowed.book.created_at}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2"></div>
      </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
    methods: {
      data() {
        return{
          borrowedbooks: '',
        };
      },
    ...mapActions("borrowed", [
        "getBorrowedBook",
        ]),
    ...mapGetters("borrowed", ["getBorrowedBooksData"]),
    },
    computed: {
        ...mapState("borrowed", ["borrowedbook"]),
    },
    mounted() {
        this.getBorrowedBook();
    },
}
</script>