<template>
  <div id="app">
    <div class="">
      <div class="container pt-4">
        <h1 class="">Patron Management</h1>
        <div class="row mt-5">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row mb-2">
              <div class="col justify-content-start ml-1">
                <button
                  data-toggle="modal"
                  data-target="#addModal"
                  class="btn rounded-pill btn-dark btn-sm"
                >
                  <img
                    src="@/assets/images/worker.png"
                    class="mr-2"
                    width="25px"
                    height="25px"
                  />Add Patron
                </button>
              </div>
              <div class="col input-group justify-content-end mr-1">
                <input type="text" class="" placeholder="Search Patron" />
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><img
                      src="@/assets/images/magnifying-glass.png"
                      width="25px"
                      height="25px"
                      style="transform: scaleX(-1)"
                  /></span>
                </div>
              </div>
            </div>
            <div class="card mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="head">
                    <tr>
                      <th scope="col">Actions</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col">Date Registered</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(patron, i) in patrons" :key="i">
                      <td class="actions">
                        <a
                          type="button"
                          data-toggle="modal"
                          data-target="#editModal"
                          @click="showEditModal(patron, i)"
                          ><img
                            src="@/assets/images/settings (1).png"
                            class="mr-2"
                            height="25"
                        /></a>
                        <a
                          type="button"
                          data-toggle="modal"
                          data-target="#deleteModal"
                          @click="showDeleteModal(patron.id)"
                          ><img
                            src="@/assets/images/delete.png"
                            class="mr-2"
                            height="23"
                        /></a>
                      </td>
                      <td>
                        {{
                          patron.first_name +
                          " " +
                          patron.middle_name +
                          " " +
                          patron.last_name
                        }}
                      </td>
                      <td>{{ patron.email }}</td>
                      <td>{{ patron.created_at }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2"></div>
      </div>
    </div>
    <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body pl-5 pr-5">
            <form>
              <center>
                <img
                  src="@/assets/images/worker.png"
                  height="50"
                  class="mt-3"
                />
                <h5 class="mt-2">Add Patron</h5>
              </center>

              <br />
              <div class="form-group">
                <input
                  type="email"
                  v-model="input.first_name"
                  class="form-control"
                  id="firstname"
                  placeholder="First Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  v-model="input.middle_name"
                  class="form-control"
                  id="middlename"
                  placeholder="Middle Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  v-model="input.last_name"
                  class="form-control"
                  id="lastname"
                  placeholder="Last Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  v-model="input.email"
                  class="form-control"
                  id="email"
                  placeholder="Email address"
                />
              </div>
              <br />
              <center>
                <button
                  type="button"
                  class="btn btn-sm btn-success ml-3"
                  data-dismiss="modal"
                  v-on:click="AddPatron"
                >
                  Add
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
              </center>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body pl-5 pr-5">
            <form>
              <center>
                <img
                  src="@/assets/images/worker.png"
                  height="50"
                  class="mt-3"
                />
                <h5 class="mt-2">Edit Patron</h5>
              </center>

              <br />
              <div class="form-group">
                <input
                  type="text"
                  v-model="input.first_name"
                  class="form-control"
                  id="firstname"
                  placeholder="First Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  v-model="input.middle_name"
                  class="form-control"
                  id="middlename"
                  placeholder="Middle Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  v-model="input.last_name"
                  class="form-control"
                  id="lastname"
                  placeholder="Last Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  v-model="input.email"
                  class="form-control"
                  id="email"
                  placeholder="Email address"
                />
              </div>
              <br />
              <center>
                <button
                  type="button"
                  class="btn btn-sm btn-success ml-3"
                  data-dismiss="modal"
                  v-on:click="patronUpdate"
                >
                  Update
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
              </center>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-sm btn-secondary"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-sm btn-danger"
              v-on:click="patronDelete"
              data-dismiss="modal"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { toast } from "@/assets/js/toast/vue-toast";
export default {
  mixins: [toast],
  data() {
    return {
      index: "",
      validated: false,
      input: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
    };
  },

  methods: {
    ...mapActions("patrons", [
      "getPatrons",
      "storePatron",
      "deletePatron",
      "updatePatron",
    ]),
    ...mapGetters("patrons", ["getPatronData"]),
    showEditModal(patron, index) {
      this.input = { ...patron };
      this.index = index;
      this.$bvModal.show("editModal");
    },
    validEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.input.email)
      return isEmail
    },
    showDeleteModal(i) {
      this.index = i;
      this.$bvModal.show("deleteModal");
    },
    async AddPatron() {
      this.validateFields(this.input)
      if(!this.validated)
        return
      const res = await this.storePatron(this.input);
      if (res.status == 200) {
        this.$bvModal.hide("addModal");
        this.showSuccessToast("Patron saved successfully!");
      } else {
        this.showError(res.data);
      }
    },
    async patronDelete() {
      const res = await this.deletePatron(this.index);
      if (res.status == 200) {
        this.$bvModal.hide("deleteModal");
        this.showErrorToast("Patron saved successfully!");
      } else {
        this.showError(res.data);
      }
    },
    async patronUpdate() {
      this.validateFields(this.input)
      if(!this.validated)
        return
      const res = await this.updatePatron({
        data: this.input,
        index: this.index,
      });
      if (res.status == 200) {
        this.$bvModal.hide("editModal");
        this.showSuccessToast("Patron Deleted successfully!");
      } else {
        this.showError(res.data);
      }
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
    },
    showError(data) {
      for (const key of Object.keys(data.errors)) {
        this.showErrorToast(data.errors[key][0]);
      }
    },
    validateFields(input){
      let errors = []
      
      this.validated = false;


      if (input.first_name == "")
        errors.push("First Name is required!");
      if (input.last_name == "")
        errors.push("Last Name is required!");
      if (input.email == ""){
        errors.push("Email is required!");
      }
      if(!this.validEmail())
        errors.push("Email is not valid");

      if(errors.length > 0){
        for(var e in errors){
          this.showErrorToast(errors[e])
        }
        return;
      }

      this.validated = true
    }
  },

  
  computed: {
    ...mapState("patrons", ["patrons"]),
  },
  mounted() {
    this.getPatrons();
  },
};
</script>
<style>
@import "../../../assets/css/style.css";
</style>